@import "../../../../../shared/variables.scss";

.header_card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: avenir-next;
  width: 100%;
}

.header_title {
  width: 82%;
}

h2 {
  font-size: 3rem;
}

/* Button Styles */

.button {
  border-radius: 15%;
  display: inline-flex;
  height: 40px;
  width: 170px;
  border: 1px solid $dark-green;
  margin: 20px 20px 20px 20px;
  color: #bfc0c0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: $brown;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: avenir-next;
}



/* Fifth Button */

#button-5 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-5 a {
  position: relative;
  transition: all 0.45s ease-out;
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -120px;
  top: -30px;
  background: $light-green;
  position: absolute;
  transition: all 0.3s ease-out;
}

#button-5:hover #translate {
  left: 0;
}

#button-5:hover a {
  color: #2d3142;
}

.mat-form-field {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 2.2em;
  }

  #container {
    width: 50%;
  }
}

.searchBar {
  width: 90%;
}

//   // Responsive

// @media screen and (max-width: 1200px) {
//   #navbar-container {
//     height: 3em;
//   }
//   a {
//     font-size: 1em;
//   }
// .btn {
//     font-size: 1em;
//   }
// }
