<app-navbar-connect [user]='user'></app-navbar-connect>


<div class="header_card">
  <div class="header_title">
    <h2>Liste des Ateliers</h2>
  </div>

  <div class="button" id="button-5">
    <div id="translate"></div>
    <a (click)="showModal()">Créer un atelier</a>
  </div>

</div>

<!-- Barre de recherche  -->
<div class="searchBar">
  <app-search-bar></app-search-bar>
</div>

<!-- Affichage de la liste des ateliers  -->
<div *ngFor="let workshop of paginatorArray; let i = index">
  <app-workshop
    [workshop]="workshop"
    (getDeleteWorkshop)="onDeleteWorkshop(i)"
    (getModifyWorkshop)="onModifyWorkshop($event, i)"
    >
  </app-workshop>
</div>

<mat-paginator  #paginator
                [length]="workShops.length"
                [pageSize]= "10"
                [pageSizeOptions]="[5, 10 , 25, 100]"
                (page)="generatePaginatorArray($event)"
                >
</mat-paginator>
