<div class="container">
  <div class="container_image">
    <img src="../../../../assets/images/logo-Kanopee-vectorise-Noir.png" alt="Logo Kanopee" />
  </div>
  <div class="button_three">
    <div class="container_concept">
      <button [routerLink]="['/accueil']" mat-fab class="button_concept">Le Concept</button>
    </div>
    <div class="container_connect">
      <button [routerLink]="['/login']" mat-fab class="button_connect">Se connecter</button>
    </div>
    <div class="container_login">
      <button [routerLink]="['/services']" mat-fab class="button_service">Les services </button>
    </div>
  </div>
</div>

