@import "../../../../shared/variables.scss";

#navbar-container {
	height: 4em;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
  position: fixed;
  overflow: hidden;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 1;


}

li {
  display: inline;
  padding: 0.5em;
  font-family: avenir next;
}



.nav_a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color:$brown;
}

.nav_a:hover {
  text-shadow: 1px 1px 1px $brown;
}

.router-link-active {
  text-shadow: 1px 1px 1px $brown;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Button Styles */

.button {
  border-radius: 5%;
  display: inline-flex;
  height: 40px;
  width: 140px;
  border: 1px solid $dark-green;
  margin: 20px 10px 20px 10px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.connect {
  color: $brown;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: avenir-next;
}





// Burger Menu
.mobile-menu {
  display: none;
  button {
    background: none;
    border: none;
    color: #523603;
  }
}


 // Responsive

 // Small Desktop
 @media screen and (max-width: 1200px) {
  #navbar-container {
    height: 3em;
  }
  a {
    font-size: 1em;
  }
  button {
    font-size: 1em;
  }
}

// Ipad Pro

@media screen and (max-width: 1024px) {
  #navbar-container {
    height: 2.9em;
  }
  a {
    font-size: 0.9em;
  }
  button {
    font-size: 0.9em;
  }
}

// Ipad
@media screen and (max-width: 768px) {
  #navbar-container {
    height: 2.9em;
  }
  ul {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  a {
    font-size: 0.7em;
  }
  button {
    font-size: 0.6em;
  }
  .conexion-btn {
    button {
    padding: 4px;
    font-size: 0.8rem;
    }
  }
  .burger-link-active {
    color: rgba(49, 104, 39);
  }
}
