<app-navbar></app-navbar>
<div class="login">

  <mat-card>
    <mat-card-title>Connexion</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field>
            <input type="text" matInput placeholder="Identifiant" formControlName="username">
          </mat-form-field>
        </div>

        <mat-form-field>
          <input type="password"
          matInput placeholder="Mot de passe"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
          >
          <button mat-icon-button matSuffix (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>


        <div class="button">
          <button type="submit" mat-button>Connexion</button>
          <button routerLink="/register" class="btn btn-link" mat-button>Inscription</button>
        </div>



      </form>
    </mat-card-content>
  </mat-card>
