<div class="containerPartenaire">
  <h2>NOS PARTENAIRES</h2>
  <img class="imgPartenaireResponsive" alt="Logo partenaires" src="../../../../assets/images/partenaires.png">
</div>
<footer>
  <div class="container_icon">
    <div class="icon_contact">
      <mat-icon> email</mat-icon>
      <p>contact@kanopeekoncept.com</p>
    </div>
    <div class="icon_contact">
      <mat-icon> location_on</mat-icon>
      <p> Espace Copernic
      <br> 60 place de la République
      <br> 33160 Saint-Médard-en-Jalles</p>
    </div>
    <div class="icon_contact">
      <mat-icon> local_phone</mat-icon>
      <p>(+33) 650505050</p>
    </div>
  </div>
  <hr>

  <div class="container_footer">
    <div class="about">
      <h2>À PROPOS</h2>

      <a href="https://help.twitter.com/fr">FAQ</a>
      <a href="https://www.site-internet-qualite.fr/mentions-legales.html">Mentions légales</a>
      <a href="https://www.economie.gouv.fr/dgccrf/Publications/Vie-pratique/Fiches-pratiques/Conditions-generales-de-vente">
        Conditions générales de ventes</a>
      <a href="https://help.twitter.com/fr">Avis Kanopée</a>
    </div>
    <div class="about">
      <h2>KANOPÉE KONCEPT</h2>
      <a href="https://help.twitter.com/fr">Notre Histoire</a>
      <a href="https://help.twitter.com/fr">Notre équipes</a>
      <a href="https://help.twitter.com/fr">Nos services</a>
      <a href="https://help.twitter.com/fr">Nos clients</a>

    </div>
    <div class="about">
      <h2>SUIVEZ-NOUS!</h2>
        <a href="https://www.facebook.com/kanopeekoncept/">
          <i class="fab fa-facebook icon_social"> Facebook</i></a>
        <a><i class="fab fa-instagram icon_social"> Instagram</i></a>
        <a href="https://twitter.com/kanopeekoncept?lang=en">
          <i class="fab fa-twitter-square icon_social"> Twitter</i></a>
        <a href="https://www.linkedin.com/in/fran%C3%A7ois-millet-b74a017b/?originalSubdomain=fr">
          <i class="fab fa-linkedin icon_social"> Linkedin</i></a>
    </div>
    <div class="about">
      <h2>INSCRIVEZ-VOUS À NOS NEWSLETTERS !</h2>
      <div>
        <p>
          <mat-form-field  appearance="outline">
            <mat-icon matSuffix (click)="send()"><i class="material-icons">
              send
              </i></mat-icon>
            <mat-label>Adresse mail</mat-label>
            <input matInput placeholder="">
          </mat-form-field>
        </p>
      </div>
        <p>
          Obtenez des mises à jour exclusives de marketing directement
          <br>dans votre boîte de réception.
        </p>
    </div>
  </div>
  <hr>
  <p class="copyright">
    ©2019 Kanopée Koncept.Tous droits réservés.
  </p>

</footer>
