<app-navbar></app-navbar>
<div class="header">
  <h1>
    Concevons votre solution
  </h1>
</div>
<h2>NOUS NOUS ADAPTONS À VOTRE PROJET</h2>

<div class="video-cta">
  <div class="youtube-video">
    <iframe src="https://www.youtube.com/embed/OiD2vU9QqmQ" frameborder="0" allow="accelerometer;
    autoplay; encrypted-media; gyroscope;
    picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="projet">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="card-title"> {{card1.title}} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p> {{card1.p1}} </p>
      <p> {{card1.p2}} </p>
    </mat-card-content>

  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="card-title"> {{card2.title}} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p> {{card2.p1}} </p>
      <p> {{card2.p2}} </p>

    </mat-card-content>

  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="card-title">{{card3.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p> {{card3.p1}} </p>
      <p> {{card3.p2}} </p>
      <p> {{card3.p3}} </p>
    </mat-card-content>

  </mat-card>
</div>
<div class="container">
  <div class="button" id="button-5">
    <div id="translate"></div>
    <a>J'y vais !</a>
  </div>
</div>


<h2>CHACUN SA PART... (ENCORE)</h2>
<div class="last-Photo">
  <mat-card class="last-card">
    <mat-card-content>
      <p>
        Inspirés des écosystèmes naturels
        dans lesquels nous évoluons, nous
        créons des synergies avec nos
        partenaires pour la réalisation de
        nos travaux de paysages
        comestibles. Sélectionnés sur leur
        compétences techniques afin
        d’assurer à nos clients un résultat à
        la hauteur de leur attentes, nous
        sommes attentifs à partager avec
        eux nos valeurs écologiques. Cette
        recherche de synergie oriente tous
        nos choix de fournisseurs et
        également de recrutement pour
        nos Kanopée-Kulteurs et Kanopée-
        Kultrices.
      </p>
    </mat-card-content>
  </mat-card>

  <div class="box-img">
    <img src="/../assets/images/Jardins10.jpg">
  </div>
</div>
