@import "../../../shared/variables.scss";

//VERSION DESKTOP


//Header
.header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url('/../assets/images/Jardins25.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40%;
  font-family: avenir next;
}

h1 {
  color:white;
  text-align:center;
  margin: 0 auto;
  font-family: avenir next;
  font-size: 3rem;
}

h2 {
  margin: 1.5em 5%;
  font-family: avenir next;
}

.video-cta {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

iframe {
  width:500px;
  height:250px;
}

.cta {
  width: 60%;
  margin: auto;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Button Styles */

.button {
  border-radius: 15%;
  display: inline-flex;
  height: 40px;
  width: 170px;
  border: 1px solid $dark-green;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: $brown;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: avenir-next;
}



/* Fifth Button */

#button-5 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-5 a {
  position: relative;
  transition: all .45s ease-Out;
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -120px;
  top: -30px;
  background: $light-green;
  position: absolute;
  transition: all .3s ease-Out;
}

#button-5:hover #translate {
  left: 0;
}

#button-5:hover a {
  color: #2D3142;
}


//Div englobant les cards
.projet{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  font-family: avenir next;
  p {
    font-weight: bold;
    text-align: justify;
    color: #523603;
    font-size: 1.1em;
    font-family: avenir next;
  }
}

.card-title{
  text-align:center;
  font-size: 1.8rem;
  padding-bottom: 12%;
  color: rgba(49, 104, 39);
  font-family: avenir next;
}

.card{
  width: 20%;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}


//Dernière section

.last-Photo {
  width: 90%;
  margin: 0 auto;
  display:flex;
  border-radius: 50px;
  margin-bottom: 2em;
}

.box-img {
  width: 80%;
  img {
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    width: 100%;
  }
}

.last-card {
  padding: 40px;
  text-align: justify;
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  color: #523603;
  font-size: 1.1em;
  font-family: avenir next;
}

// Responsive

// Small desktop
@media screen and (max-width: 1200px) {
  iframe {
    width:450px;
    height:225px;
  }
  .card-title {
    font-size: 1.6rem;
  }
  .projet {
    p {
      font-weight: 500;
    }
  }
  .card {
    padding: 35px;
    width: 22%;
    button {
      font-size: 1.2rem;
      right: 25%;
    }
  }
  .last-card {
    width: 35%;
    p {
      font-weight: 500;
    }
  }
}

// Ipad Pro
@media screen and (max-width: 1024px) {
  header {
    margin-bottom: 2em;
    h1 {
      font-size: 2.5rem;
    }
  }
    h2 {
      font-size: 1.2em;
  }
  iframe {
    width:400px;
    height:200px;
  }
  .card-title {
    font-size: 1.5rem;
  }
  .card {
    width: 24%;
    padding: 30px;
    button {
      font-size: 1rem;
      right: 32%;
    }
  }
  .last-card {
    width: 40%;
  }
}

// Ipad
@media screen and (max-width: 768px) {
  header {
    margin-bottom: 1.5em;
    h1 {
      font-size: 2rem;
    }
  }
    h2 {
      font-size: 1em;
    }
    iframe {
      width:250px;
      height:125px;
    }
    button {
      font-size: 1.5em;
      padding: 10px;
    }
  .card {
    width: 28%;
    padding: 20px;
    button {
      font-size: 0.8em;
      right: 30%;
    }
  }
  .card-title {
    font-size: 1.4rem;
  }
  .last-card {
    width: 50%;
  }
}

// Mobile
@media screen and (max-width: 600px) {
  header {
    margin-bottom: 1em;
    h1 {
      font-size: 1.5rem;
    }
  }
    h2 {
      font-size: 0.8em;
    }
  .youtube-video {
    display: none;
  }
  .video-cta {
    margin-bottom: 1em;
  }
  button {
    font-size: 1.3em;
  }
  .projet {
    flex-direction: column;
    p {
      margin: 1%;
    }
  }
  .card {
    width: 90%;
    padding: 20px;
    button {
      font-size: 0.8em;
      right: 40%;
      bottom: 4%;
    }
  }
  .card-title {
    font-size: 1.2rem;
    padding-bottom: 3%;
  }
  .card-content {
    padding-bottom: 2%;
  }
  .last-card {
    width: 90%;
  }
  .box-img {
    display: none;
  }
}
