@import "../../../../shared/variables.scss";

.container {
  width: 90%;
  margin: 0 auto;
}

.fa-search {
  margin-right: 1em;
}

.search-form {
  margin-right: 1em;
}

/* Button Styles */

.button {
  border-radius: 15%;
  display: inline-flex;
  height: 40px;
  width: 170px;
  border: 1px solid $dark-green;
  margin: 10px 10px 10px 10px;
  color: #bfc0c0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: $brown;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: avenir-next;
}



/* Fifth Button */

#button-5 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-5 a {
  position: relative;
  transition: all 0.45s ease-out;
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -120px;
  top: -30px;
  background: $light-green;
  position: absolute;
  transition: all 0.3s ease-out;
}

#button-5:hover #translate {
  left: 0;
}

#button-5:hover a {
  color: #2d3142;
}

// carte des produits
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  color: $brown;
  width: 45%;
  margin: 1em;
}

.presentation {
  img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgb(115, 115, 116);
  }

  display: flex;
  align-items: center;
}

.text-presentation {
  margin-left: 1em;
}

.distance {
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgb(169, 169, 170);
  border-radius: 4px;
  padding: 8px;
}

.buy {
  display: flex;
  justify-content: space-between;
}

.prices {
  display: flex;
  justify-content: space-between;

  p {
    margin-right: 2em;
    margin-bottom: 0;
  }
}
